@font-face {
  font-family: "BillieBarred";
  src: url(billiebarred.woff), url(billiebarred.woff2);
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "El&fontGohtic!";
  src: url(el-font-gohtic.woff), url(el-font-gohtic.woff2);
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "Kruffy";
  src: url(kruffy.woff), url(kruffy.woff2);
  font-weight: normal;
	font-style: normal;
}
.main {
  font-family: "BillieBarred", "Arial", "Helvetica", sans-serif;
}